# AWS Secrets - to use the values stored in AWS Secrets Manager, comment out the relevant lines below
DATABASE_CONNECTION_STRING="mongodb://<user>:<password>@<cluster>.<node>.<host>:<port>/?tls=true&tlsCAFile=<path/to/pem-file.pem>&retryWrites=false&tlsAllowInvalidHostnames=true&directConnection=true"
DATABASE_NAME="<database-name>"
DATASET_API_URL="http://localhost:22000/datasets"
UPLOAD_SERVICE_URL="http://localhost:11850/upload-new"
DE_SLACK_WEBHOOK="<de_slack_webhook>"
LAMBDA_FAILURE_SLACK_WEBHOOK="<de_slack_webhook>"
NOTIFICATION_WEBHOOK="<de_slack_webhook>"
SERVICE_TOKEN_FOR_UPLOAD="<service-token-for-upload>"

# Env vars
ENVIRONMENT="sandbox"
AWS_PROFILE="dp-sandbox"
# COMMIT-SHA is used in Slack notifications to indicate which Github branch has been used in a specific pipeline run.
COMMIT_SHA="commit-sha"

# IDENTITY_API_URL, FLORENCE_USER and FLORENCE_PASSWORD are only needed if SERVICE_TOKEN_FOR_UPLOAD is not set.
IDENTITY_API_URL="http://localhost:25600/v1"
FLORENCE_USER="<your-email-here>"
FLORENCE_PASSWORD="<your-password-here>"

# Feature flags - these are set to False by default.
# Uncomment the relevant lines below to disable email notifications, Slack notifications or data upload.
# DISABLE_EMAILS="True"
# DISABLE_NOTIFICATIONS="True"
# SKIP_DATA_UPLOAD="True"

# Integration test setup.
DOCKER_HOST=path/to/podman-machine-default-api.sock
TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
TESTCONTAINERS_RYUK_DISABLED=true